{% extends 'booking/base.html' %}
{% block title %} PASSENGER
{% endblock  %}

{% block content %}
<div class="w-full flex flex-col  items-center space-y-3">
    <div class="w-[1000px] h-[78px] bg-white flex items-center px-5 shadow-md" >
        <h1 class="text-2xl font-semibold ">PASSENGER DETAILS</h1>
    </div>

    <div class="w-[1000px] bg-white flex shadow-md justify-between gap-5">
        <div class="flex flex-start flex-col flex-1 max-w-[226px] gap-2  bg-[#D9D9D9]">
            <div class="w-[226px] h-[60px]  bg-white flex border-l-[20px] border-blue-300 text-base justify-center items-center font-semibold gap-2">
                <h1 class="">Adult</h1>
                <p>1</p>
            </div>
            <div class="w-[226px] h-[60px] text-base text-blue-500 flex justify-center items-center font-semibold gap-2">
                <h1 class="">Adult</h1>
                <p>1</p>
            </div>
        </div>

        <div class="flex-1 mt-10 space-y-5 m-5">
            <div class="flex flex-col">
                <h1 class="text-2xl font-semibold">Name</h1>
                <p class="text-xs text-gray-500">Please make sure that you enter your name exactly as it is shown on your Valid ID</p>
            </div>

            <div class="flex justify-between gap-5">
                <div class="flex-1 flex flex-col gap-1 max-w-[120px]">
                    <label for="">Title*</label>
                    <input type="text" class="border border-black h-[40px] w-[120px]">
                </div>
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">First Name*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">Last Name*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
            </div>

            <div class="flex flex-col gap-3 ">
                <h1 class="text-xl font-semibold">Date of Birth</h1>

                <div class="flex gap-5 max-w-[300px] ">
                    <div class="flex-1 flex flex-col gap-2">
                        <label for="">Day*</label>
                        <input type="text" class="border border-black w-full h-[40px]">
                    </div>
                    <div class="flex-1 flex flex-col gap-2">
                        <label for="">Month*</label>
                        <input type="text" class="border border-black w-full h-[40px]">
                    </div>
                    <div class="flex-1 flex flex-col gap-2">
                        <label for="">Year*</label>
                        <input type="text" class="border border-black w-full h-[40px]">
                    </div>
                </div>

                <div class="flex flex-col max-w-[300px] gap-2 mt-5">
                    <label for="">Nationality*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>

                <div class="w-full flex-1  flex justify-end">
                    <button class="text-base font-semibold bg-orange-500 px-5 py-1 text-white">Next guest</button>
                </div>
            </div>
            
        </div>
    </div>


    <div class="w-[1000px] flex  justify-between gap-5  flex-col">
        <div class="flex flex-col leading-none">
            <h1 class="text-2xl font-semibold">Contact Information </h1>
            <p class="text-xs">Let us know how we may reach you if there are changes or questions related to your booking and payment. We will also be sending your itinerary to below email.</p>
        </div>

        <div class="flex bg-white w-full flex-1 w-[393px] px-5 py-10 flex-col space-y-5">
            <div class="flex justify-between gap-5 max-w-xl">
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">First Name*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">Last Name*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
            </div>

            <div class="flex flex-col max-w-[280px] gap-2 mt-5">
                    <label for="">Mobile Number**</label>
                    <input type="text" class="border border-black h-[40px]">
            </div>

            <div class="flex justify-between gap-5 max-w-xl">
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">Email*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
                <div class="flex-1 flex flex-col gap-1">
                    <label for="">Confirm Email*</label>
                    <input type="text" class="border border-black h-[40px]">
                </div>
            </div>



        </div>

    </div>

    <div class="w-[1000px] flex-1  flex justify-end">
        <button class="text-xl font-semibold bg-green-950 hover:bg-green-950/80 px-10 py-2 text-white">Next guest</button>
    </div>




</div>


{% endblock  %}