{% extends 'booking/base.html' %}
{% block title %} success
{% endblock  %}

{% block content %}
<div class="w-full flex flex-col justify-center  items-center space-y-4 bg-white">

    <div class="gap-5 flex flex-col justify-between">
        <h1 class="text-6xl font-semibold">Your Transaction has been completed</h1>
        <div class="flex items-center justify-center">
            <button class="text-lg px-10 py-5 bg-green-950 hover:bg-green-950/80 text-white">Book Another flight</button>
        </div>
    </div>

</div>



{% endblock  %}